* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider__item {
  display: none;
  position: relative;
  animation-name: fadein;
  animation-duration: 1s;
}

.slider__item--active {
  display: block;
}

@keyframes fadein {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.slider__nav {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.slider__prev-btn,
.slider__next-btn {
  width: 35px;
  height: 35px;
  border: 5px solid white; 
  cursor: pointer;
  background-color: transparent;
}

.slider__next-btn {
  transform: rotate(45deg);
  border-right: none;
  border-top: none;
}

.slider__next-btn {
  border-left: none;
  border-top: none;
  transform: rotate(-45deg);
}

.slider__prev-btn:hover,
.slider__next-btn:hover {
  opacity: 0.5;
}

.slider__dots {
  display: flex;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.slider__dots-item {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
}

.slider__dots-item:not(:last-child) {
  margin-right: 15px;
}

.slider__dots-item--active {
  border: 1px solid white;
  background-color: transparent;
}
